<script type="text/template" id="{{ template_id }}">
  	<li class="tl_event">
		<div class="card">
			<div class="tl-card-body">
				<div class="tl_event_header">

			<div class="tl_event_badge" title="<%= event_card.get('event_name') %>">
		 		<i class="fa fa-<%= event_card.get('badge') %>"></i> 
					<span ><%= event_card.get('create_name') %></span>
					<p>user: <%= event_card.get('user').email %></p>
			</div>

					<div class="tl_event_header_msg">
						<span class="tl_event_date"><%= event_card.get('create_date') %></span>
					</div>
					
				</div>
				<div class="tl_event_body">
					{% block event_body %}{% endblock %}
				</div>
			</div>
		</div>
  	</li>
</script>
